@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/*for discript-03*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  

/*-------------------------------------------------------------------------------------------------------------*/
/*-----Slider------*/
#slider
{
	width:100%;
}
.carousel-caption
{
	top: 35%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff ;
	font-size: 60px;
	font-style: roboto condensed;
	font-weight: bold;
}
.carousel-caption h3
{
	color: #fff ;
	font-size: 40px;
	font-style: roboto condensed;
/*	font-weight: bold;*/
}
.carousel-caption h4
{
	font-style: italic;
	/*top: 60%;*/
}

.carousel-inner
{
	background-size: cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 100vh;

}
/*two click buttons*/
.banner-btn
{
	margin: 70px;
	font-size: 20px;
}
.banner-btn a
{
	width: 200px;
	text-decoration: none ;
	display: inline-block;
	margin: 0 10px ;
	padding: 12px 0;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;
}
.banner-btn a span 
{
	width: 0% ;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	transition: 0.5s;

}
.banner-btn a:hover span
{
	width: 100% ;

}
.banner-btn a:hover
{
	color: #000 ;

}
/*-------------------------------------------------------------------------------------------------*/
/*Discription01*/

/*.discriptionMaking
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/


.discription
{

	box-sizing: border-box;
	background: #f2f2f2;
	margin-top: -70;


}

.discription h2
{
	font-family: 'Poppins',cursive;
	font-size: 52px;
	padding: 40px;

	margin-bottom: 60px;
	text-align: center;
}

.discription .mainDisc
{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.discription .discp
{
	font-family: 'Open Sans';
	background: #f2f2f2;
	margin: 5px;
	margin-bottom: 70px ;
	width: 400px;
	padding: 20px;
	line-height: 25px;
	color: #000;
	position: relative;

}
.discription .discp h3
{
	color: #000;
	font-size: 30px;
	margin-top: 50px;
	font-weight: bold;
	line-height: 20px;
}
.discription .discp p
{
	color: #000;
	font-size: 20px;
	margin-top: 50px;

}

/*------------------------------------------------------------------------------------------------*/

/*discription03*/
 .dicript-03
{
  margin-top:0;
  padding: 0;
  height: 50vh;
  background-color:   #fff;
}
.dicript-03 .heading-D
{
/*  padding-left: 10vw;*/
  margin: 8%;

  font-family: Roboto;
  text-align: center;

  
}
.dicript-03 .heading-D h1
{
  font-size: 30px;
  font-weight: bold;
}
.dicript-03 .heading-D p
{
  font-size: 22px;
}

